*{
	text-decoration: none;
	margin: 0;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.wrapper{
	width: 1100px;
	margin: auto;
	position: relative;
}

>logo a{
	font-size: 10px;
	font-weight: bold;
	float: left;
	font-family: sans-serif;
	color: #74b9ff;
}

.menu{
	float: right;
}

nav{
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 30px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #b2bec3;
}

nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

nav ul li{
	float: left;
}

nav ul li a{
	color: #2d3436;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

section{
	margin: auto;
	display: flex;
	margin-bottom: 50px;
}

.kolom{
	margin-top: 50px;
	margin-bottom: 50px;
}

h2{
	font-family: sans-serif;
	font-weight: 100;
	font-size: 20px;
	margin-bottom: 20px;
	color: black;
	width: 100%;
	line-height: 50px;
}
a.signup{
	color: black;
	cursor: pointer;
}

a.signup:hover{
	background: #b2bec3;
	text-decoration: underline;
}

a.botton{
	font-family: sans-serif;
	font-weight: 100;
	font-size: 20px;
	margin-bottom: 20px;
	color: black;
	width: 100%;
	line-height: 50px;
}
a.botton:hover{
	text-decoration: underline;
}

a.blue{
	font-family: sans-serif;
	font-weight: 100;
	font-size: 20px;
	float: right;
	margin-bottom: 20px;
	color: black;
	width: 100%;
	line-height: 50px;
}

a.blue:hover{
	text-decoration: underline;
}

a.saran{
	font-family: sans-serif;
	font-weight: 100;
	font-size: 20px;
	float: left;
	margin-bottom: 20px;
	color: black;
	width: 100%;
	line-height: 50px;
}
a.saran:hover{
	text-decoration: underline;
}